@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4{
  margin: 0;
}

.heading_title {
  color: #007765;
  margin-top: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

 /* HEADER */
.main_container {
  width: 100%;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.header_main {
  background-color: #007765;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 21;
  transition: height 1s ease-in-out;
}

.navigation_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  transition: color .2s linear;
  transition: font-size .3s linear;
}

.menu_link.hover {
  color: #007765;
  font-size: 28px;
}

/* PIPERNET */

.section {
  background: url("/images/image1.png") center no-repeat;
  background-size: cover;
  margin-top: 84px;
  padding-top: 160px;
  padding-bottom: 160px;
}

.main_title {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
}

/* THE PROBLEM */

.problem {
  background-color: #EEEEEE;
  padding-top: 55px;
  padding-bottom: 92px;
}

.text_problem {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
.citate {
  font-weight: bold;
}

.p_cit {
  margin-bottom: 0;
}

/* THE HERO */

.hero {
  background: url("/images/image2.png") center no-repeat;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 127px;
}

.hero_message {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  line-height: 56px;
}


/* PIEDPIPERCOIN */
.ppc {
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 92px;
}

.ppc_main_text {
  color: #000000;
  font-size: 32px;
  line-height: 37px;
  font-style: normal;
  font-weight: normal;
}

.ppc_logo {
  float: left;
  padding-right: 48px;
}

.ppc_logo_img:hover {
  width: 115px;
  height: 115px;
}

/* TEAM */

.team {
  background-color: #EEEEEE;
  padding-top: 48px;
  padding-bottom: 122px;
}

.cards_img {
  width: 350px;
  height: 283px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 55px;
}

.team_cards {
  padding-top: 58px;
}

.figure {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards_foto {
  width: 168px;
  height: 168px;
}

.name_card {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}


/* FOOTER */

.footer {
  padding-top: 48px;
  background-color: #333333;
  height: 176px;
  text-align: center;
}

.text_footer {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 540px;
  height: 64px;
  margin: 0 auto;
}

